/* Comments in CSS can also be
inside <style> elements in HTML*/

h1{ color:black;}

p{background-color: white;
font-family: Times;
color: black;
}
span {background-color: white;
    font-family: Times;
    }

#special{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4mm;
    color:black;
}
.scene{
    font-family:'Times New Roman', Times, serif;
    font-size: 4mm;
    color:black;
}
.hover{
    background-color:rgb(106, 255, 47);
    color:black;
}
.peter{background-color: white;
    font-family: Times;
    font-size: 4mm;
    color:blue;
}
.mich{background-color: white;
    font-family: Times;
    font-size: 4mm;
    color:rgb(202, 10, 90);
    
}
.vera{background-color: white;
    font-family: Times;
    font-size: 4mm;
    color:rgb(8, 122, 4);
}
.speech{background-color: white;
    font-family: Times;
    font-size: 4mm;
    color:black;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
    
  }
  
  table {
    border :5px;
    border-style: solid;
    border-color: black;              
    border-collapse:separate ;
    width: 50%;
    margin: 25px 50px 75px 50px;
    font-size: 5mm;
  }
  
  th, td {
    padding: 20px;
    vertical-align: center;
  }



  tr:nth-child(even) {background-color: #ccdee6;}
  th{
    height: 30px;
    background-color: #65cbdd;
  color: white;

  }

 /* mouse over link */
a:hover {
    color:rgb(248, 240, 240);
    text-shadow: 2px 2px 4px #000000;
  }
 
span.name:hover{
    color:rgb(248, 240, 240);
    text-shadow: 2px 2px 4px #000000;
    border :2px;
    border-style: solid;
    border-color: black;              
    border-collapse:separate ;
}  