/* Comments in CSS can also be
inside <style> elements in HTML*/

h1{ color:black;}

p{background-color: white;
font-family: Times;
color: black;
}
span {background-color: white;
    font-family: Times;
    }

#special{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4mm;
    color:black;
}
.scene{
    font-family:'Times New Roman', Times, serif;
    font-size: 4mm;
    color:black;
}
.hover{
    background-color:rgb(106, 255, 47);
    color:black;
}
.peter{background-color: white;
    font-family: Times;
    font-size: 4mm;
    color:blue;
}
.mich{background-color: white;
    font-family: Times;
    font-size: 4mm;
    color:rgb(202, 10, 90);
}
